body {
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
}

#login {
    padding: 5px;
    margin: 30px;
    width: 85%;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: auto;
}

#button {
    padding: 5px;
    margin: 10px;
    border: none;
    width: 200px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#username {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: dotted rgb(140, 216, 235) 1px;
}

#password {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: dotted rgb(140, 216, 235) 1px;
}