html {
    font-family: "Trebuchet MS";
    background-color: rgb(15,15,15);
    text-align: center;
    position: relative;
    color: white;
}

h1 {
    margin-bottom: 8px;
}

.bombPic {
    width: 20px;
    height: auto;
    margin: auto;
}

.square {
    width: 28px;
    height: 28px;
    margin: 1px;
    background-color: cyan;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

#board {
    margin: auto;
    margin-top: 8px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: black;
}

#toggleWrapper {
    width: 130px;
    height: 32px;
    margin: auto;
    border-radius: 35px;
    overflow: hidden;
    border: 1px solid cyan;
    position: relative;
}

#toggle {
    width: 200px;
    height: 32px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
    background-image: linear-gradient(to right, darkcyan, red);
    font-weight: bold;
    font-size: medium;
    position: absolute;
}

#toggleCircle {
    width: 62px;
    height: 32px;
    background-color: cyan;
    border-radius: 35px;
}

#newGameButton {
    display: none;
    height: 32px;
    width: 130px;
    background-color: darkcyan;
    font-weight: bold;
    font-size: large;
    text-align: center;
    color: white;
}

#resetButton {
    height: 32px;
    width: 130px;
    background-color: darkcyan;
    font-weight: bold;
    font-size: large;
    color: white;
    border: 1px solid cyan;
    border-radius: 35px;
}

#settings {
    position: absolute;
    top: 24px;
    right: 15px;
    z-index: 2;
}

/* The Modal (background) */
#settingsModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 70px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: #000000;
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  #settingsContent {
    background-color: #202020;
    margin: auto;
    padding: 20px;
    border: 2px solid cyan;
    border-radius: 35px;
    width: 80%;
  }

  #counts {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 300px;
      margin: auto;
  }

  #highScores {
      width: 300px;
      padding-bottom: 10px;
      padding-top: 20px;
      border-bottom: 2px dashed white;
      margin: auto;
  }
  #highScores h3 {
      width: 300px;
      border-bottom: 2px dashed white;
      margin: auto;
      margin-bottom: 10px;
      padding-bottom: 10px;
  }

  .highScoresRow {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 300px;
      margin: auto;
  }

  #clearHighScores {
      color: red;
  }

  footer {
      margin-top: 20px;
      font-size: x-small;
  }