
/* HTML Selectors */

main {
    position: relative;
}


/* ID Selectors */

#returnButton {
    position: absolute;
    top: 0;
    right: 0;
}
        
#calculatorButtons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#calculatorButtons button {
    width: 60px;
    height: 60px;
    background-color: darkmagenta;
    color: white;
    font-size: 35px;
    text-align: center;
    vertical-align: middle;
    border-radius: 30%;
}

#result {
    padding: 10px;
    margin: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}