  
main {
    text-align: center;
}

h1 {
    margin-top: 20px;
}

.board {
    margin: auto;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 312px;
    height: 312px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.item {
    background-color: rgb(4, 41, 122);
    color: white;
    font-size: 80px;
    text-align: center;
    height: 100px;
    width: 100px; 
}

.reset {
    background-color: darkblue;
    font-size: large;
    color: white;
    height: 35px;
    border-radius: 5px;
    width: 200px;
    margin-bottom: 30px;
}

#returnButton {
    height: 30px;
    width: 150px;
    border-radius: 5px;
    margin-top: 10px;
    border: 1px solid black;
}

form {
    width: 100%;
    text-align: right;
}